html {
	padding: 35px
}

form.form {
	display: table;
}

div.form {
	display: table-row;
}

label, input {
	display: table-cell;
	margin-bottom: 10px
}

label {
	padding-right: 10px;
}

.input {
	width: 200px;
}

.number {
	width: 90px;
}

h6 {
	width: 300px
}